@charset "utf-8";


#container { display:block; }

@media only screen and (orientation:portrait){

  #container {

    height: 100vw;

    -webkit-transform: rotate(90deg);

    -moz-transform: rotate(90deg);

    -o-transform: rotate(90deg);

    -ms-transform: rotate(90deg);

    transform: rotate(90deg);

  }

}

@media only screen and (orientation:landscape){

  #container {

     -webkit-transform: rotate(0deg);

     -moz-transform: rotate(0deg);

     -o-transform: rotate(0deg);

     -ms-transform: rotate(0deg);

     transform: rotate(0deg);

  }
  
   {
    box-sizing: border-box;
}

.menu {
    width: 25%;
    float: left;
}
.main {
    width: 75%;
    float: left;
}
  
  /* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

  
  #PageContainer
  {
	background: #2E2D2D;
	margin-top: -55px;
	width: 1540px;
	height: 950px;
	background: rgba(64,64,64,0.7);
	border: 3px solid #000000;
	font-size: 20px;
  }
	
	#PageContainer2
	{
	background: #6F0001;
	margin-left: 160px;
	margin-top: -900px;
	width: 1540px;
	height: 73px;
	background: rgba(64,64,64,0.7);
	border: 3px solid #000000;
		
}
	#PageContainerMother
	{
		background: #;
		height: 700px
		
}
	#PageContainerPages	
	{
		background: #745455;
		margin-right: 1450px;
		width: 145px;
		height: 900px;
		background:rgba(51,51,255,0.7);
		border:3px solid #000000;
		
	}
	
	#PageContainerSources
	{
		background: #2A3C49;
		margin-left: 1710px;
		height: 900px;
		width: 145px;
		margin-top: -700px;
		border:3px solid #000000;
		background:rgba(51,51,255,0.7);
	}
	
	#search
	{
	}
	
	a.back-to-top 
	{
		display: none;
		width: 60px;
		height: 60px;
		text-indent: -9999px;
		position: fixed;
		z-index: 999;
		right: 20px;
		bottom: 20px;
		background: #27AE61 url(website/images/up-arrow-hi.png) no-repeat center 43%;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		border-radius: 30px;
}
	
	
	
	/* CSS Document */
